<div class="task-detail-container">
    @if (task(); as currentTask) {
        <div>
            <div class="header">
                <h1>{{currentTask.title }}</h1>
                <button class="status-badge dropdown-toggle" [class.completed]="currentTask.completed" type="button" data-bs-toggle="dropdown" >
                     {{ currentTask.completed ? 'Completed' : 'Active' }}
                </button>
                <ul class="dropdown-menu">
                 <li>
                   <button class="dropdown-item" (click)="changeStatus(true)">Completed</button>
                 </li>
                 <li>
                   <button class="dropdown-item" (click)="changeStatus(false)">Active</button>
                 </li>
                </ul>
            </div>

            <div class="task-details">
                <div class="detail-row">
                    <strong>Description:</strong>
                    <p>{{ currentTask.description}}</p>
                </div>

                <div class="detail-row">
                    <strong>Created:</strong>
                    <p>{{ currentTask.createdAt}}</p>
                </div>
                <div class="details-row">
                    <strong>Status:</strong>
                    <p>{{ currentTask.completed ? 'Completed' : 'In Progress'}}</p>
                </div>
            </div>

            <div class="actions">
                <button routerLink="/" class="back-btn">Back to List</button>
                <button (click)="deleteTask()" class="delete-btn">Delete Task</button>
            </div>
        </div>
    }@else {
        <div class="not-found">
            <h2>Task Not Found</h2>
            <p>The task you're looking for doesn't exist.</p>
            <button routerLink="/">Go Back</button>
        </div>
    }
</div>
