<div class="form-container">
    <h2>Add New Task</h2>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Task Title</label>
            <input 
            type="text"
            id="title"
            formControlName="title"
            placeholder="Enter task title"
            />
            @if (taskForm.controls.title.invalid && taskForm.controls.title.touched) {
                <div class="error">
                    @if (taskForm.controls.title.errors?.['required']) {
                        <small>Title is required</small>
                    }
                </div>
            }
        </div>

        <div class="form-group">
           <label for="description">Description</label>
           <textarea 
           id="description"
           formControlName="description"
           rows="4"
           placeholder="Enter task description"
           ></textarea>
           @if (taskForm.controls.description.invalid && taskForm.controls.description.touched) {
            <div class="error">
                <small>Description is required</small>
            </div>
           }
        </div>
        <div class="button-group">
            <button type="submit" [disabled]="taskForm.invalid">Add Task</button>
            <button type="button" routerLink="/" class="secondary">Cancel</button>
        </div>
    </form>
</div>
